.jumbo {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // background-image: url('./meeting2_lowres.jpg');
  background-color: snow;
}
